h1 {
  border: 2px solid red;
  background-color: lightslategrey;
  text-align: center;
}

p {
  text-align: center;
}

main {
  height: 200px;
  background-color: lightcyan;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Center the form vertically */
}

div {
  border: 2px solid rgba(172, 169, 169, 0.815);
  height: 550px;
  width: 500px;
  border-radius: 15px; /* Curved corners */
  text-align: center;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow for a nice effect */
  padding: 20px; /*Add some padding */
}

.form {
  background: linear-gradient(45deg, hsl(4, 100%, 50%), hsl(209, 100%, 50%));
  width: 12cm;
  padding: 10px 20px;
  border-radius: 10px;
}

label {
  margin-top: 10px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

input {
  padding: 4px;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid #f9f9f9;
  width: 7cm;
}

textarea {
  padding: 4px;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid #f9f9f9;
  height: 130px;
  width: 400px;
}

button {
  color: #fff;
  padding: 15px 40px;
  margin: 8px;
  outline: none;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

button::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* glow */
button::before {
  content: "";
  background: linear-gradient(
    45deg,
    #f00,
    #ff7300,
    #ffb00f,
    #48ff00,
    #00ffd5,
    #0028ff,
    #7300ff,
    #ff00f8
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s, ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

button:hover::before {
  opacity: 1;
}

button:active:after {
  background-color: transparent;
}

button:active {
  color: #000;
  font-weight: bold;
}

h4 {
  color: rgb(255, 148, 8);
  font-size: 24px;
  text-decoration: underline;
}
